<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Recipe <%= f.label :name %>: </h3>
  <%= f.text_field :name %><br />

  <br/>

  <h3>Ingredients: </h3>
  <div id="ingredients">
  <% @counter = 0 %>
  <% f.fields_for :ingredients do |builder| %>
    <%= render "ingredients", :f => builder %>
    <% @counter += 1 %>
  <% end %>
  </div>

  <a href="#" id="add-another">+ Ingredient</a><br/>

  <h3><%= f.label :instructions %>:</h3>
  <%= f.text_area :instructions %><br /><br />
  <%= f.label :approved %>:
  <%= f.check_box :approved %><br /><br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
