<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %><br />
  <%= f.text_field :name %><br />

  <div id="ingredients" >
  <% @counter = 0 %>
  <% f.fields_for :ingredients do |builder| %>
    <%= render "ingredients", :f => builder %>
   <% @counter += 1 %>
  <% end %>
  <a href="#" >ADD ANOITHER!  JS IN THE VIEW COMMENTS</a>
<%#$("p.ingredient:first").clone().appendTo("#ingredients")  %>
<%#$("p.ingredient").last().children().first().next().attr("name").split("][")[1] %>
<%#
one = $("p.ingredient").last().children().first().next().attr("name").split("][")[0];
two = parseInt($("p.ingredient").last().children().first().next().attr("name").split("][")[1]) + 1;
three = $("p.ingredient").last().children().first().next().attr("name").split("][")[2];
one + "][" + two + "]["+three;

%>
  </div>
  <%#= render "ingredients", :f => @recipe.ingredients.build %>

  <%= f.label :instructions %><br />
  <%= f.text_area :instructions %><br />
  <%= f.label :approved %><br />
  <%= f.check_box :approved %><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
