 <p class="ingredient" id="ingredient-<%= @counter %>"><%= f.label :amount %>  <%= f.text_field :amount %>
<%= f.label :measurement %> <%= f.text_field :measurement %>
<%= f.label :name %> <%= f.text_field :name %></p>
