<form action="/search" class="" id="search-form" method="get" data-remote="true">
  
  <div id="welcome-message">
    <% if !params[:search] %>
    <h2>We only do Paleo recipes.</h2><h3> No blogs, no science, no jargon, just good healthy food.</h3>
    <% else %>
    <h2>Top <%= params[:search].capitalize %> recipes.
	<% end %>
  </div>
  <label for="search" id="search-box" class="big">What ingredients are you looking for?</label><br/>
  <input id="search" name="search" size="30" type="text" value="<%= params[:search] || ""  %>"/>

  <input id="search_submit" name="commit" type="submit" value="Search!" />
</form>

<br/><br/>

</br>
<br/>
<div id="recipes" >
  <% if @recipes && params[:search] %>
<div id="results">
    <ol id='list'></ol>
    <% @recipes.each_with_index do |recipe, index| %>
      <li>
	    <b><%= link_to recipe.name, recipe_path(recipe) %></b>: <%= recipe.ingredients.collect{|i|i.name}.to_sentence %><br/> 
	    <%= truncate(recipe.instructions) %>
    <% end %>
    </ol>
  <% else %>
   </div>
  <% end %>
</div>
