<p id="notice"><%= notice %></p>

<%= image_tag @recipe.image_url(:thumb).to_s %>
<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Instructions:</b>
  <%= @recipe.instructions %>
</p>

<p>
  <b>Approved:</b>
  <%= @recipe.approved %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
