<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @ingredient.amount %>
</p>

<p>
  <b>Measurement:</b>
  <%= @ingredient.measurement %>
</p>

<p>
  <b>Name:</b>
  <%= @ingredient.name %>
</p>

<p>
  <b>Recipe:</b>
  <%= @ingredient.recipe %>
</p>


