<!DOCTYPE html>
<html>
<head>
  <title>Paleo</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min.js', 'application.js', 'rails.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="header">
<div id="logo">ONLY PALEO</div>
  <ul id="header-links-new">
	<% logger.info(request.env['REMOTE_ADDR']) %>
	<% logger.info(request.env['REQUEST_URI']) %>
    <li class="left bold <%= 'active' if params['search'].nil?  %>"><%= link_to "Search", search_path %></li>
    <li class="left red <%= 'active' if request.env['REQUEST_URI'] =~ /beef/ %>"><%= link_to "Beef", search_path(:search => "beef") %></li>
    <li class="left white <%= 'active' if request.env['REQUEST_URI'] =~ /chicken/ %>"><%= link_to "Chicken", search_path(:search => "chicken") %></li>
    <li class="left blue <%= 'active' if request.env['REQUEST_URI'] =~ /fish/ %>"><%= link_to "Fish", search_path(:search => "fish") %></li>
    <li class="left green <%= 'active' if request.env['REQUEST_URI'] =~ /vegetable/ %>"><%= link_to "Veggies", search_path(:search => "vegetable") %></li>
  </ul>
  <%= link_to "Sign In", search_path, :class => 'right account-action' %> 
  <%= link_to "Add a recipe", new_recipe_path(), :class => 'right account-ability'  %> 
</div>
<div id="body">
  <div id="body-text">
    <%= yield %>
  </div>
</div>

</body>
</html>
