<!DOCTYPE html>
<html>
<head>
  <title>Paleo</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min.js', 'application.js', 'rails.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="header">
  <ul id="header-links">
    <li class="left bold "><%= link_to "Search", search_path %></li>
    <li class="left"><%= link_to "Proteins", recipes_path(:category => "protein") %></li>
    <li class="left"><%= link_to "Veggies", recipes_path(:category => "vegetable") %></li>
    <li class="left"><%= link_to "Add a recipe", new_recipe_path() %></li>
    <li class="left"><%= link_to "Sign In", search_path %></li>
  </ul>
</div>
<div id="body">
  <div id="body-text">
    <%= yield %>
  </div>
</div>

</body>
</html>
